@charset "UTF-8";
/* CSS Document */
body {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	margin: 0px;
	padding: 0px;
	color: #321B04;
	overflow-x: hidden;
}
.back {
	height: 100%;
	position: fixed;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #E8B800;
	background-image: url(%E3%82%A2%E3%83%BC%E3%83%88%E3%83%9C%E3%83%BC%E3%83%89%201.svg);
	z-index: -999;
}
.frame {
	height: 77vh;
	border: 2em solid #321B04;
	position: fixed;
	width: 90%;
	border-radius: 20px;
	display: inherit;
	margin-left: 3%;
	z-index: 998;
	margin-right: 3%;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 7vh;
}

.inner {
	width: 90vw;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
.header  {
	width: 90vw;
	display: flex;
	margin-left: 0px;
	position: fixed;
	z-index: 999;
}
.inner header img {
	display: block;
	width: 20vw;
}
.inner header ul {
	display: flex;
	margin-left: 380px;
}
header ul li {
	display: block;
	padding: 20px;
	width: 90px;
	text-align: center;
	z-index: 999;
}
ul li .header2 {
	color: #FFFFFF;
	border-bottom-style: solid;
}
ul li a {
	text-decoration: none;
	color: #321B04;
	font-weight: bold;
	font-size: 15pt;
}
ul li a:hover{
	color: #FFFFFF;
}
.inner h1 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 0px;
	padding-top: 272px;
}
